@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#nav {
    align-items: center;
    justify-content: center;
    display: flex;
    width: 100%;
    height: 80px;
    position: fixed;
    z-index: 3;
}

#nave {
    height: 100%;
    width: 100%;
    background-color: rgb(56, 54, 59);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: 1px 1px 10px black;
}

#selecao {
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

/*Botão de login*/
#botao {
    text-decoration: none;
    color: white;
    font-size: 100%;
    width: 20%;
    font-weight: 700;
    height: 60%;
    border-radius: 10px;
    background-color: rgb(42, 66, 110);
    box-shadow: 0px 3px 9px black;
    display: flex;
    align-items: center;
    justify-content: center;
}

#selecao #botao:hover {
    transition: 300ms;
    transform: translateY(2px);
    background-color: rgb(28, 41, 66);
    box-shadow: 0px 1px 9px black;
}

#botao3 {
    text-decoration: none;
    color: white;
    font-size: 100%;
    width: 20%;
    font-weight: 700;
    height: 60%;
    border-radius: 10px;
    background-color: rgb(167, 0, 9);
    box-shadow: 0px 3px 9px black;
    display: flex;
    align-items: center;
    justify-content: center;
}

#selecao #botao3:hover {
    transition: 300ms;
    transform: translateY(2px);
    background-color: rgb(92, 1, 6);
    box-shadow: 0px 1px 9px black;
}

#botao2 {
    text-decoration: none;
    color: white;
    font-size: 100%;
    width: 20%;
    font-weight: 700;
    height: 60%;
    border-radius: 10px;
    background-color: rgb(250, 224, 79);
    box-shadow: 0px 3px 9px black;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
}

#selecao #botao2:hover {
    transition: 300ms;
    transform: translateY(2px);
    background-color: rgb(194, 174, 63);
    box-shadow: 0px 1px 9px black;
}

/*Escolha*/
#selecao .esc {
    text-decoration: none;
    position: relative;
    color: rgb(255, 255, 255);
    font-size: 100%;
    font-weight: bold;
    width: 100px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.esc:before {
    content: "";
    position: absolute;
    bottom: 25px;
    height: 4px;
    width: 50%;
    border-radius: 100px;
    background-color: white;
    transform: scaleX(0);
    transition: transform 0.2 linear;
}

.esc:hover::before {
    transition: 500ms;
    transform: scaleX(1);
}


/*logo*/
#logoC {
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#logoB {
    padding: 10px;
    width: 90%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#logo {
    width: 100%;
    height: 100%;
    object-fit: contain;
}


header {
    background-image: url('../img/Evento.webp');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    width: 100%;
    height: 700px;
    border-bottom: 10px solid rgb(41, 41, 41);
    overflow: hidden;
    box-shadow: 0px 5px 10px black;
}

#bemVindo {
    width: 50%;
    height: 50%;
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    padding: 10px;
    color: white;
}

#bemVindo h1 {
    font-size: 50px;
    width: 100%;
    height: 30%;
    color: rgb(255, 255, 255);
    text-shadow: -2px 8px 10px black;
}

#bemVindo p {
    font-size: 20px;
    width: 100%;
    height: 35%;
    color: rgb(255, 255, 255);
    display: flex;
    text-shadow: -2px 4px 6px black;
}

#bemVindo a {
    text-decoration: none;
    font-weight: 700;
    color: rgb(255, 255, 255);
    width: 25%;
    height: 12%;
    border-radius: 10px;
    background-color: rgb(42, 66, 110);
    box-shadow: 0px 3px 9px black;
    display: flex;
    align-items: center;
    justify-content: center;

}

#bemVindo a:hover {
    transition: 300ms;
    transform: translateY(2px);
    background-color: rgb(28, 41, 66);
    box-shadow: 0px 1px 9px black;
}

main {
    background-color: rgb(42, 66, 110);
    color: white;
}

#quemSomos {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    padding: 20px;
}

#texto {
    width: 50%;
    padding: 10px;
}

#quemSomos h1 {
    margin-bottom: 30px;
    width: 80%;
    font-size: 50px;
}

#quemSomos p {
    width: 90%;
    font-size: 20px;
    height: 70%;
}

#imagem {
    width: 50%;
}

#imagem img {
    width: 100%;
    height: 100%;
    border-radius: 50px;
    box-shadow: 0px -2px 10px black;
}


#carouselExampleDark {
    overflow: hidden;
    width: 80%;
    border-radius: 50px;
}

#carouselExampleDark img {
    object-fit: cover;
    height: 500px;
    border-radius: 50px;
}

#onde {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 50px;
    margin-bottom: 50px;
}

#onde h1 {
    font-size: 50px;
}

.carousel-caption {
    bottom: 50px;
}

.carousel-caption h5,
.carousel-caption p {
    color: #fff;
    text-shadow: 1px 1px 5px #000;
}

#objetivo {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    padding: 20px;
}

#texto1 {
    width: 50%;
    padding: 10px;
    text-align: right;
}

#objetivo h1 {
    margin-bottom: 30px;
    width: 100%;
    font-size: 50px;
}

#objetivo p {
    width: 100%;
    font-size: 20px;
    height: 70%;
}



#imagem1 {
    width: 50%;
    
}

#imagem1 img {
    width: 100%;
    height: 100%;
    border-radius: 50px;
    box-shadow: 0px -2px 10px black;
    object-fit: cover;
}


footer {
    width: 100%;
    background-color: rgb(41, 41, 41);
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
    position: relative;
    /* serve de referência pro copyright */
    padding-bottom: 50px;
    /* espaço pro copyright */
    box-sizing: border-box;
}
.fundoC{ 
    background-color: rgb(42, 66, 110);
   
}


#copyright {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 80%;
    font-weight: 300;
    width: 100%;
    background-color: rgb(34, 34, 34);
    height: 40px;
    gap: 5px;
}

#copyright #copy {
    width: 15px;
    height: 15px;
}

#contato,
#sobre,
#suporte {
    height: 200px;
    width: 30%;
    box-sizing: border-box;
    padding: 10px;
    display: flex;
    align-items: center;
    font-weight: normal;
    flex-direction: column;
    justify-content: space-between;
}

#tel,
#ins,
#sup {
    display: flex;
    align-items: center;
    gap: 2px;
    width: 100%;
    height: 30%;
    color: rgb(124, 124, 124);
}

#contato>h1 {
    width: 100%;
}

#tel>p,
#ins>p,
#sup>p {
    font-size: 15px;
}

#tel>img,
#ins>img,
#sup>img {
    width: 20px;
    height: 20px;
}

#sobre a {
    width: 20%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: rgb(124, 124, 124);
    text-decoration: none;
}

#suporte {
    align-items: end;
    justify-content: right;
}

#supA {
    width: 30%;
    height: 100%;
    display: flex;
    align-items: end;
    flex-direction: column;
    justify-content: space-between;

}

#supA a,
#supA p {
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: right;
    text-decoration: none;
    color: rgb(124, 124, 124);
    font-size: 20px;
}

#supA a {
    width: 60%;
}

#suporte h1 {
    width: 100%;
    display: flex;
    align-items: end;
    justify-content: right;
}

#sobre a:hover,
#supA a:hover {
    text-decoration: underline;

}

footer h1 {
    font-size: 25px;
}



#botaoDv {
    display: none;

}

#nome {
    color: white;
    cursor: pointer;
}

#nome:hover {
    transition: 500ms ease-in-out;
    color: rgba(255, 255, 255, 0.500);

    #seta {
        opacity: 0.500;
        transform: translateY(2px);
        transition: 500ms ease-in-out;
    }
}

#seta {
    width: 20px;
}

#menuA {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

#menu {
    display: none;
    width: 100%;
    text-align: center;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: rgba(0, 0, 0, 0.301);
    border-radius: 5px;
    box-shadow: 0px 3px 9px rgba(0, 0, 0, 0.4);
    flex-direction: column;
    z-index: 10;
}

#menu a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 5px 10px;
}

#menu a:hover {
    background-color: #00000080;
}

#menuA:hover #menu {
    transition: 500ms;
    display: flex;
}

main {
    flex: 1;
}

.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.form {
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
}
.form2 {
   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
    text-align: center;
    height: 100%;
    width: 100%;
    gap: 50px;
}

.meio {
    width: 200px;
    height: 200px;
}

.bola {
    width: 100%;
}

.bola:hover {
    opacity: 0.600;
    transform: translateY(5px);
    transition: 800ms;
    cursor: pointer;
}

.modal {
    display: none;
    position: fixed;
    justify-content: center;
    top: 0;
    left: 0;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.747);
    width: 100%;
    height: 100vh;
    z-index: 9999;
}

.modal1 {
    background-color: white;
    height: 90%;
    width: 30%;
    border-radius: 50px;
    padding: 20px;
    box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.2);
}
.modal2 {
    background-color: white;
    height: 40%;
    width: 30%;
    border-radius: 50px;
    padding: 20px;
    box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 
}

.modal1 .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.modal1 .form label {
    font-size: 20px;
    font-weight: bold;
}

#inputImagem {
    display: none;
}

.botao-upload {
    width: 100%;
    height: 100px;
    object-fit: cover;
    cursor: pointer;
    border-radius: 10px;
}

.botao-upload:hover {
    transition: 0.3s;
    transform: translateY(4px);
    opacity: 0.700;
}

.modal1 .form input {
    border: none;
    border-bottom: 1px solid black;
}

.modal1 .form input:focus {
    outline: none;
}

.modal1 .form input:focus::placeholder{
    color: transparent;
}

.modal1 .form .criar {
    border: none;
    background-color: rgb(58, 233, 58);
    box-shadow: 1px 5px 5px black;
    color: white;
    width: 30%;
    height: 100%;
    border-radius: 20px;
}

.modal1 .form .criar:hover {
    background-color: rgb(34, 138, 34);
    transform: translateY(4px);
    transition: 500ms;
    box-shadow: 1px 2px 5px black;
}

.modal1 .form .deletar{
    border: none;
    background-color: rgb(252, 0, 0);
    box-shadow: 1px 5px 5px black;
    color: white;
    width: 30%;
    height: 100%;
    border-radius: 20px;
}

.modal1 .form .deletar:hover{
    background-color: rgb(102, 0, 0);
    transform: translateY(4px);
    transition: 500ms;
    box-shadow: 1px 2px 5px black;
}
.modal2 .form2 .deletar{
    border: none;
    background-color: rgb(252, 0, 0);
    box-shadow: 1px 5px 5px black;
    color: white;
    width: 30%;
    height: 100%;
    border-radius: 20px;
}

.modal2 .form2 .deletar:hover{
    background-color: rgb(102, 0, 0);
    transform: translateY(4px);
    transition: 500ms;
    box-shadow: 1px 2px 5px black;
}

.modal1 .form .voltar{
    border: none;
    background-color: rgb(224, 0, 0);
    box-shadow: 1px 5px 5px black;
    color: white;
    width: 30%;
    height: 100%;
    border-radius: 20px;
}

.modal1 .form .voltar:hover{
    background-color: rgb(102, 0, 0);
    transform: translateY(4px);
    transition: 500ms;
    box-shadow: 1px 2px 5px black;
}

textarea{
    outline: none;
    padding: 10px;
    width: 90%;
    height: 15%;
}

body.modal-open {
    overflow: hidden;
}

.botoes{
    width: 100%;
    height: 6%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}
.botoes2{
    width: 100%;
    height: 14%;
    display: flex;
    align-items: center;
    justify-content: space-around;
   
}

.aviso{
    display: block;
    color: red;
}

#localC{
    width: 100%;
    display: flex;
    gap: 20px;
}

#galeCard{
    width: 100%;
    height: 100vh;
    display: flex;
}

#localC{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    justify-items: center;
    align-items: center;
}

.cards{
    display: block;
    width: 300px;
    height: 500px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 2px 5px 10px black;
}

.cards > *{
    padding: 5px;
}

.cards > .img{
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cards > .til{
    color: #000;
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.cards > .desc{
    color: #000;
    width: 100%;
    height: 40%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    word-wrap: break-word;
}

.cards .desc p{
    max-width: 100%;
    font-size: 20px;
}

.cards > .botoes{
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    padding: 4px;
}

.cards > .botoes > .vis{
    color: white;
    background-color: rgb(36, 110, 170);
    border: none;
    width: 40%;
    height: 40%;
    border-radius: 10px;
    box-shadow: 1px 3px 7px black;
}

.cards > .botoes > .vis:hover{
    transition: 500ms;
    background-color: rgb(3, 49, 87);
    transform: translateY(2px);
}

.cards > .botoes > .edit{
    color: white;
    background-color: rgb(49, 141, 37);
    border: none;
    width: 40%;
    height: 40%;
    border-radius: 10px;
    box-shadow: 1px 3px 7px black;
}

.cards > .botoes > .edit:hover{
    transition: 500ms;
    background-color: rgb(14, 73, 6);
    transform: translateY(2px);
}

.pontos{
    color: rgb(17, 105, 236);
    cursor: pointer;
}

.pontos:hover{
    transition: 500ms;
    color: rgb(4, 57, 138);
}

.pontos2{
    color: rgb(17, 105, 236);
    cursor: pointer;
}

.pontos2:hover{
    transition: 500ms;
    color: rgb(4, 57, 138);
}

.textoCompleto{
    display: none;
    position: fixed;
    bottom: 10px;
    left: 10px;
    background: #000000e7;
    color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 5px;
    z-index: 10;
    word-wrap: break-word;
    max-width: 20%;
    box-shadow: 4px 2px 10px black;
}

.tilCompleto{
    display: none;
    position: fixed;
    bottom: 10px;
    left: 10px;
    background: #000000e7;
    color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 5px;
    z-index: 10;
    word-wrap: break-word;
    max-width: 20%;
    box-shadow: 4px 2px 10px black;
}

.cards > .img > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 60px;
}

.modal1V > .form {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.modal1V > .form > .img{
    width: 100%;
    height: 30%;
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50px;
    }
}

.modal1V > .form > .titulo{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    h1{
        text-align: center;
    }
}

.modal1V > .form > .local{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10%;
    flex-direction: column;
}

.modal1V > .form > .data{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10%;
    flex-direction: column;
}

.modal1V > .form > .desc{
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;

    p{
        max-width: 100%;
        word-wrap: break-word;
    }
}

.modal1V > .form > .volt{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;

    button{
        background-color: rgb(63, 158, 221);
        color: white;
        border: none;
        width: 30%;
        height: 60%;
        border-radius: 20px;
        box-shadow: 2px 3px 10px black;
    }

    button:hover{
        transition: 500ms;
        transform: translateY(4px);
        background-color: rgb(35, 85, 119);
    }
}

.modal1B .form .voltar1{
    
    background-color: rgb(0, 172, 224);
    box-shadow: 1px 5px 5px black;
    color: white;
    width: 30%;
    height: 100%;
    border-radius: 20px;
}

.modal1B .form .voltar1:hover{
    background-color: rgb(0, 98, 128);
    transform: translateY(4px);
    transition: 500ms;
    box-shadow: 1px 2px 5px black;

}
.modal2 .form2 .voltar1{
    
    background-color: rgb(0, 172, 224);
    box-shadow: 1px 5px 5px black;
    color: white;
    width: 30%;
    height: 100%;
    border-radius: 20px;
    border:none; 
}

.modal2 .form2 .voltar1:hover{
    background-color: rgb(0, 98, 128);
    transform: translateY(4px);
    transition: 500ms;
    box-shadow: 1px 2px 5px black;
}